<div class="row">
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="subheader">
            <a href="https://www.kdevelop.org/" target="_blank"><img src="images/kdevelop-logo.png"/></a> KDevelop
        </h2>
    </div>
</div>
<div class="row">
    <div class="">
        <div class="row">
            <div class="col-sm-6 pricing-table">
                <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="images/kdevelop.png" alt=""/>
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>KDevelop</h3>
                                    <p>Port to KDE Frameworks 5, Clang-based Parser, and More!</p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-expand">
                                        <a href="images/kdevelop.png" data-lightbox="portfolio">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>After nearly two years of active porting work, KDevelop 5.0, the first release based on Frameworks 5, came out in 2016. The major changes in KDevelop 5 are the removal of the custom parser for the C/C++ language support, and the adoption of Clang/LLVM as the parser backend for C/C++.  Tons of other changes were part of the 5.0 release: the introduction of QML/JavaScript support, QMake support, improved CMake support, improved PHP/Python language support, and massive performance improvements. We also published the first installers for KDevelop on Windows, which allows us to conquer a new platform. Since then, a series of updated Windows versions were released to plenty of positive feedback.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
