<div class="row">
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="subheader">
            <a href="https://minuet.kde.org/" target="_blank"><img src="images/minuet-logo.png"/></a> KDE Minuet
        </h2>
    </div>
</div>
<div class="row">
    <div class="">
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>2016 saw a new addition to the KDE-Edu suite of educational software. <a href="https://minuet.kde.org/" target="_blank">Minuet</a> is a cross-platform application for music education that provides a flexible architecture for defining and executing ear-training exercises related to intervals, chords, scales, and rhythm patterns. In the timespan of a single year, Minuet’s first version was released with KDE Applications 16.04, and an <a href="https://play.google.com/store/apps/details?id=org.kde.minuet&hl=en" target="_blank">Android version</a> was released as part of Google Summer of Code 2016. A Windows version is on its way. Codebase convergence has already been achieved, and the Minuet UI (based on QtQuickControls2) provides a pleasant experience in both desktop and mobile versions.</p>
                    <p>Sheet music support, multiple-instrument view framework, and singing/clapping capabilities are among the features currently in development. Thanks to Minuet, you can now embark on the amazing journey through the joys of music learning.</p>
                </div>
            </div>
            <div class="col-sm-6 pricing-table">
                <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="images/minuet.png" alt=""/>
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>KDE Minuet</h3>
                                    <p>Grow Your Music Knowledge!</p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-expand">
                                        <a href="images/minuet.png" data-lightbox="portfolio">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
