<div class="text-center">
    <figure class="m-3 p-3"><a href="images/Krita/Group_photo_5.jpg"><img src="images/Krita/Group_photo_5.jpg" width="100%" /></a><br /><figcaption>Krita Hacking room discussion.</figcaption></figure>
</div>

From the 5th to the 9th of August, developers and artists from all over the world gathered in Deventer, the Netherlands for the 2019 <a href="https://krita.org">Krita</a> Sprint. This year's sprint was huge as many people attended for the first time.

The core focus of this sprint was to bring people together, gather ideas, discuss the future goals in detail, investigate workflow issues, and non-technical things like how to help, engage, and make people feel part of the community.

Initially, we were involved in hacking and discussions and there were more bugs reported than bugs fixed. Then we had discussions between the groups about the effective development goals for the upcoming Krita version in terms of quality control and testing timeframes. 

### Bugs and Stability

The 4.2 release was not as stable as the 4.1 release, as our developers weren't that deep into the codebase yet.  Another reason was that we updated to Qt 5.12, which seemed to come with many regressions. The solution was to either fix them in Qt or work around them in Krita itself. We were also merging bug fixes into our release and these fixes had not been tested. Based on discussions during the sprint we decided that we would try the following:

+ Release once at the end of the month.
+ Merge bug fixes to the stable branch until the middle of the month.
+ Publish an article on krita.org telling users about the next stable version. This article would show up on users’ welcome screen news widget, right inside Krita. We would also provide links to downloads of the portable version of Krita for every OS.
+ Publish a link to a survey on the welcome screen for testing the changes noted in the released article.
+ After two weeks, we would release the next stable version of Krita.

### Development focus for 2019/2020

Super-stable Krita 4.3 would be released with a bunch of new features but would still focus on stability. We were still working on fixing the resource handling system.

We agreed that the text tool still needed much more work to get rid of the dependency on Qt’s internal rich text editor: the conversion between QTextDocument and SVG is lossy, and leads to problems. One focus was to work on the Text Tool, although it was still not usable for the primary goal, namely comic-book text balloons. To make it suitable we knew what to do, but just didn’t have the time while fighting incoming bugs all the time.

It was clear that we still needed to work on stability and performance. During the discussion, some particular issues were noted:


+ The move tool had become very slow.
+ There was a range of missing features after the vector rewrite, such as unimplemented layer style options, half-implemented animated transform mask and missing undo/redo support in the scripting layer.
+ Brushes had to be much faster.
+ Resource handling was still being rewritten.


We also brainstormed issues concerning the workflow:


+ There were multiple issues with animation.
+ Discoverability of features in Krita was not up to par.
+ Dockers were overcrowded and the contents hard to find.


The solutions we came up with were


+ To create a tool to search through Krita’s functionality.
+ To implement a combination of clone layers and transform masks.
+ To add a timer to save incremental versions and add an option to export incrementally.


We also discussed the following new features:


+ A status bar indicator that would show whether the stabilizer, canvas acceleration, instant preview (and others) were on or off.
+ In the brush engines, thin bristles that could have their color and a calligraphy tool.
+ A tool or a brush engine that would make it easy to paste images or designs and transform them before pasting the next one.
+ To create a pipe brush from an animation on the timeline instead of the then current system based on layers.
+ A font selector where we could mark X fonts as favorites and create a wish bug for them.


### Marketing and Outreach

Our presence on Twitter, Mastodon, Tumblr, DeviantArt, and Reddit is fine. On Facebook, non-official groups are more used than Krita’s account. YouTube needs improvement, we are absent on Instagram.

We decided to run a competition on all social networks for which we had a maintainer (Instagram, Twitter, Mastodon, and Reddit). We thought we would always be able to extend this later to other places. Each maintainer can propose two images + attribution info + links, which will be shown in rotation for a month. We planned that the system for doing this would be ready for the 4.3 release in October.

We decided to make a page with a very clear text explaining the rules: we wouldn’t take ownership of the images, the images would be shown in Krita, there would be no licensing requirements for the images, and certain kinds of images would not be able to be used.

### Development Fund and Fundraiser

Financially, Krita was doing okay. We were getting between 2,000 and 2,700 euros a month in donations. That translated to one full-time developer. The Windows Store and Steam were bringing in enough for three to four extra full-time developers. We wanted to become less dependent on the Windows Store, though, since Microsoft has been getting more and more aggressive in promoting getting applications from the Windows Store.

We already had a notional Development Fund, but it was a monthly PayPal subscription or recurring bank transfer. We didn’t have any feedback or extras for the subscribers, and the subscribers had no way to manage their subscription or to reach us other than in the usual way. We tried to implement a CiviCRM system for this, but that was way too complex for us to manage. We needed to reboot our Development Fund and migrate existing subscribers to the new fund.

A basic list of requirements would be:


+ Have a place on the website where people could subscribe and unsubscribe.
+ Have a place where we could show the names of subscribers who agreed that their name be shown.
+ Have a way to tell people what we were doing with the money and what we would be doing with it.
+ Make sure companies and sponsors would also be able to join too.

